obj/
Temp/
Library/
ProfilingSession?.prof*
Assets/StreamingAssets/Audio/GeneratedSoundBanks/Mac/English(US).meta
Assets/StreamingAssets/Audio/GeneratedSoundBanks/Windows/English(US).meta
Assets/StreamingAssets/Audio/GeneratedSoundBanks/Windows/DecodedBanks.meta


